<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자동차 정보 상세보기</title>
</head>

<body>
    <h2>자동차 정보 상세보기</h2>
    <table border="1" width="400">
        <tr>
            <th>NO</th>
            <td>
                <%=car._id%>
            </td>
        </tr>
        <tr>
            <th>NAME</th>
            <td>
                <%=car.name%>
            </td>
        </tr>
        <tr>
            <th>COMPANY</th>
            <td>
                <%=car.company%>
            </td>
        </tr>
        <tr>
            <th>YEAR</th>
            <td>
                <%=car.year%>
            </td>
        </tr>
    </table>
    <a href="/car_modify/<%=car._id%>">수정</a> | <a href="/car_delete/<%=car._id%>">삭제</a> | <a href="/car_list">목록</a>
</body>

</html>