<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자동차 정보 수정</title>
</head>

<body>
    <h2>자동차 정보 수정</h2>
    <form action="/car_modify" method="post">
        <input type="hidden" name="objId" value="<%=car._id%>" />
        <table border="1" width="300">
            <tr>
                <th>차종</th>
                <td><input type="text" name="name" value="<%=car.name%>"></td>
            </tr>
            <tr>
                <th>가격</th>
                <td><input type="text" name="price" value="<%=car.price%>"></td>
            </tr>
            <tr>
                <th>제조자</th>
                <td><input type="text" name="company" value="<%=car.company%>"></td>
            </tr>
            <tr>
                <th>연식</th>
                <td><input type="text" name="year" value="<%=car.year%>"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="수정하기" />
                </td>
            </tr>
        </table>
    </form>
</body>

</html>